<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<style>
	p
	{
		margin-left:80px;
	}
	body
	{
		margin-left:500px;
		margin-top:200px;
		background-image:url"{(tunehub.jpg);}"
	}
	button:hover
	{
		background-color:grey;
	}
</style>
<h1>Welcome To TuneHub</h1>
<p>
	<a href="login"><button style="width:80px;height:40px;border-radius:9px;">LOGIN</button></a>
	<a href="registration"><button style="width:80px;height:40px;border-radius:9px;">REGISTER</button></a>
</p>
</body>
</html>